version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres-online-store-api
    restart: no
    environment:
      POSTGRES_USER: nestuser
      POSTGRES_PASSWORD: nestpass
      POSTGRES_DB: nestdb
    ports:
    - '5432:5432'
    volumes:
    - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: api-online-store-api
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - '3000:3000'

volumes:
  postgres_data: {}
